.btn {
  text-decoration: none;
  border-radius: var(--radius);
  display: flex;
  min-height: 50px;
  font-weight: 300;
  font-size: var(--font-size);
  font-family: var(--primary-ff);
  align-items: center;
  justify-content: center;
  padding: 0 42px;
  line-height: 24px;
  cursor: pointer;
  background: $color-grey-gallery;
  letter-spacing: 1px;
  outline: none;
  border: 0;
  color: var(--blue-inner);
  transition: 0.3s ease;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.9;
    & + label {
      cursor: not-allowed;
    }
  }
  &.large {
    padding: 0 35px;
    height: 60px;
  }
  &.small {
    min-height: 35px;
    padding: 0 20px;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
  @each $theme, $color in $ui-colors {
    &-#{$theme} {
      background-color: $color;
    }
    &-#{$theme}:hover {
      background-color: darken($color, 10%);
    }
    &-#{$theme}:active {
      background-color: darken($color, 20%);
    }
  }
  @each $theme, $color in $ui-colors {
    &-o-#{$theme} {
      background-color: transparent;
      border: 1px solid $color;
      color: lighten($color, 30%);
      padding: 0 20px;
      min-height: 40px;
    }
    &-o-#{$theme}:hover {
      background-color: transparent;
      border: 1px solid darken($color, 10%);
    }
    &-o-#{$theme}:active {
      background-color: transparent;
      border: 1px solid darken($color, 20%);
    }
  }
}
