html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff), sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: inherit;
  user-select: none;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
}
h4 {
  font-weight: 600;
  opacity: 0.8;
  font-size: 14px;
}
p {
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--tcolor);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0;
    padding-top: 15px;
    position: relative;
    &:nth-of-type(1) {
      padding-top: 0;
    }
  }
}
.sect {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--disabled-inner);
}
dl {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding-top: 15px;
  &:nth-of-type(1) {
    padding-top: 0;
  }
  dd {
    margin: 0;
  }
  dt {
    margin: 0;
  }
}
table,
tr,
td,
th,
thead,
tbody {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-collapse: inherit;
  border-spacing: 0;
}
table {
  width: 100%;
  border: 1px solid var(--disabled-inner);
  border-radius: var(--radius);
  thead {
    border-bottom: 1px solid var(--disabled-inner);
    tr {
      th {
        text-align: left;
        padding: 20px;
      }
    }
  }
}
