.main {
  will-change: transform;
  transition: transform 0.25s ease;

  &.active {
    transform: translateY(-70px);
  }
}

.ableft {
  position: absolute;
  height: calc(100% - 175px);
  left: 25px;
  top: 60px;

  .card {
    height: 100%;
  }

  &.hidden {
    transform: translate(-20%, 0);
  }

  &.visible {
    transform: translate(0, 0);
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.content {
  flex: 1;

  .tab-pannel {
    &.scroll {
      height: calc(100vh - 40px);
      overflow-y: auto;
    }
  }

  main {
    width: 100%;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#my-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  top: 0;
}

.searchbar {
  border-radius: var(--radius);

  .input-main {
    font-weight: normal;
    width: 100%;
    min-width: 480px;
    align-self: flex-start;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    border-radius: var(--radius);
    outline: none;
    padding: 0;
    font-family: var(--primary-ff);
    font-size: var(--font-size);
    display: inline-block;
    color: #444444;
    height: 50px;
    padding: 0 25px;
    border: 1px solid #ddd;

    &:focus {
      border-color: var(--blue);
      box-shadow: 0 0 0 2px var(--blue);
    }

    &::placeholder {
      color: #444444;
    }
  }
}

//
.h-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 260px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.01);

  .banner-image {
    position: relative;
    height: 70%;
    background-color: #e8e8e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .artist-img {
    img {
      max-width: 50px;
      border-radius: 50%;
    }
  }

  .subtitle {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.1em;
  }
}

.h100 {
  height: 100%;
}

// Menu APP
.tab-pannel {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.sep {
  margin: 35px auto;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid var(--disabled-inner);
  border-bottom: 0;
}

.sidebar-app {
  // width: 27%;
  // background: #000;
  background: #fff;
  color: #fff;
  // border-right: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &-header {
    font-size: var(--font-size);
    font-family: var(--primary-ff);
    padding: 1.1em 25px;
    grid-template-columns: auto auto;
    -webkit-app-region: drag;
    margin-bottom: 0.2em;
  }

  .sidebar-menu {
    font-size: var(--font-size);
    display: block;
    color: #fff;
    align-items: center;
    flex-grow: 1;
  }

  .nav-item {
    padding: 13px;
    margin: 0;
    border: 0;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 100%;
    cursor: pointer;
    position: relative;

    &.logo {
      // background: #000;
    }

    .icon {
      position: relative;
      // margin-right: 25px;

      &.icon-notif {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          display: block;
          right: 2px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          border: 3px solid #000;
          background: #00d067;
        }
      }
    }

    &.active {
      .icon-tabler {
        opacity: 1;
      }
    }

    .icon-tabler {
      width: 24px;
      height: 24px;
      fill: none;
      opacity: 0.4;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill-rule: evenodd;
      stroke-width: 1;
      stroke: #000;
      transition: opacity 0.25s, transform .1s ease;

      &.fill {
        stroke: none;
        fill: var(--dark);
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 9;
  background: rgba(#000, 0.5);
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.ad-banner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -20px);
  width: 450px;
  background: #673ab7;
  z-index: 999;
  overflow: hidden;
  border-radius: var(--radius);

  .ad-content {
    display: grid;
    grid: auto / auto 160px;
    align-items: center;
    position: relative;

    .close {
      position: absolute;
      right: 10px;
      top: 10px;

      .icon {
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        path {
          fill: var(--white);
        }
      }
    }

    .ad-text {
      padding: 1.5rem;
      color: var(--white);

      h2 {
        font-size: 16px;
      }

      p {
        margin-bottom: 0;
        font-size: 14px;
        color: var(--white);
      }
    }

    .ad-image {
      align-self: flex-end;
      justify-self: flex-end;
      padding-top: 15px;

      img {
        user-select: none;
        pointer-events: none;
        max-height: 160px;
        max-width: 100%;
      }
    }
  }
}

.debug-window {
  width: 250px;
  z-index: 9999;
  position: fixed;
  display: none;
  right: 15px;
  padding: 15px;
  bottom: 10px;
  pointer-events: none;
  background: #1a1a1a;
  border-radius: var(--radius);
  color: #fff;
  opacity: 0.8;

  .p-small {
    font-size: 10px;
  }

  .p-light {
    opacity: 0.4;
  }

  a,
  p,
  dt,
  dd {
    line-height: 1.2;
    font-size: 12px;
    color: #fff;
    word-break: break-all;
  }

  dl {
    align-items: flex-start;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: underline;
  }

  &.active {
    display: block;
  }
}