.abcenter {
  @include centerer;
}

.main {
  will-change: transform;
  transition: transform 0.25s ease;
  &.active {
    transform: translateY(-70px);
  }
}
.ableft {
  position: absolute;
  height: calc(100% - 175px);
  left: 25px;
  top: 60px;
  .card {
    height: 100%;
  }
  &.hidden {
    transform: translate(-20%, 0);
  }
  &.visible {
    transform: translate(0, 0);
  }
}
.abcenterbot {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 320px;
  text-align: center;
  transform: translate(-50%, -50%);
  p {
    margin-bottom: 10px;
  }
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}
.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.content {
  flex: 1;
  .tab-pannel {
    padding: 45px;
    &.scroll {
      height: calc(100vh - 75px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px;
        z-index: 1;
      }

      &::-webkit-scrollbar-track {
        background: var(--backgroundHome);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: var(--disabled-inner);
      }
    }
  }
  main {
    width: 100%;
  }
}
.footerbar {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  padding: 7px 15px;
  font-size: 12px;
  color: #848484;
  border-top: 1px solid #ececec;
  .icon {
    margin-right: 15px;
    svg {
      stroke: #848484;
      &:hover {
        stroke: #000;
      }
    }
  }
  div {
    display: block;
    &:not(.p-tooltip-content) {
      align-items: center;
      display: flex;
    }
  }
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.searchbar {
  border-radius: var(--radius);
  .input-main {
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    min-width: 480px;
    align-self: flex-start;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    border-radius: var(--radius);
    outline: none;
    padding: 0;
    font-family: var(--primary-ff);
    box-shadow: none;
    font-size: var(--font-size);
    display: inline-block;
    color: #444444;
    height: 60px;
    padding: 0 25px;
    border: 1px solid #ddd;
    &::placeholder {
      color: #444444;
    }
  }
}

//
.h-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 260px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.01);
  .banner-image {
    position: relative;
    height: 70%;
    background-color: #e8e8e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .artist-img {
    img {
      max-width: 50px;
      border-radius: 50%;
    }
  }
  .subtitle {
    font-size: 0.6em;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.1em;
  }
}
// Menu APP
.tab-pannel {
  display: none;
  &.active {
    display: block;
  }
}

.sep {
  margin: 35px auto;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid var(--disabled-inner);
  border-bottom: 0;
}

.sidebar-app {
  width: 310px;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  &-header {
    font-size: var(--font-size);
    font-family: var(--primary-ff);
    padding: 1.1em 25px;
    grid-template-columns: auto auto;
    -webkit-app-region: drag;
    margin-bottom: 0.2em;
  }
  .sidebar-menu {
    font-size: var(--font-size);
    display: block;
    color: #fff;
    align-items: center;
    .submenu {
      margin-left: 65px;
      display: block;
      a {
        margin: 11px 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        &:before {
          content: '';
          width: 12px;
          margin-right: 15px;
          height: 12px;
          border: 0.08em solid #fff;
          background: transparent;
          border-radius: 50%;
          display: block;
        }
        &.active {
          &:before {
            border-color: var(--blue);
            background: var(--blue);
          }
        }
      }
    }
    .nav-item {
      padding: 10px 20px;
      margin: 0;
      border: 0;
      background: transparent;
      color: white;
      display: flex;
      outline: none;
      width: 100%;
      align-items: center;
      &.active {
        .submenu {
          display: block;
        }
      }
      .icon {
        position: relative;
        margin-right: 25px;
        &.icon-notif {
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            right: 2px;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            border: 3px solid #000;
            background: #00d067;
          }
        }
      }
      .icon-tabler {
        width: 28px;
        stroke: #fff;
        height: 28px;
      }
      cursor: pointer;
    }
  }
}

.icon-tabler {
  stroke-width: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 9;
  background: rgba(#000, 0.5);
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.debug-window {
  width: 250px;
  z-index: 9999;
  position: fixed;
  display: none;
  left: 30px;
  padding: 15px;
  bottom: 50px;
  background: #1a1a1a;
  border-radius: var(--radius);
  color: #fff;
  .p-small {
    font-size: 10px;
  }
  .p-light {
    opacity: 0.4;
  }
  a,
  p,
  dt,
  dd {
    line-height: 1.2;
    font-size: 12px;
    color: #fff;
    word-break: break-all;
  }
  dl {
    align-items: flex-start;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    display: inline-block;
    line-height: 1.5;
    text-decoration: underline;
  }
  &.active {
    display: block;
  }
}
