#titlebar {
  display: flex;
  position: relative;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  #drag-region {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 120px;
    -webkit-app-region: drag;
  }
  #window-title {
    display: flex;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    span {
      color: black;
      // mix-blend-mode: difference;
      font-weight: 500;
      font-size: var(--font-size);
      font-family: var(--primary-ff);
      margin-left: 32px;
    }
    #progressBar {
      position: absolute;
      z-index: -1;
      height: 100%;
      display: flex;
      align-items: center;
      background: var(--blue);
      span {
        position: absolute;
        right: 10px;
        color: #fff;
      }
    }
  }
  #window-controls {
    display: grid;
    grid-template-columns: repeat(2, 60px);
    height: 100%;
    -webkit-app-region: no-drag;
    .button {
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      user-select: none;
      cursor: pointer;
      i {
        font-size: 20px;
        transition: 0.2s ease;
        color: black;
      }
      &:hover {
        i {
          opacity: 0.6;
        }
      }
    }
    #min-button {
      grid-column: 1;
      &:hover {
        background: #eee;
      }
    }
    #close-button {
      grid-column: 2;
      &:hover {
        background: #e6293f;
        svg path {
          stroke: #fff;
        }
      }
    }
  }
}
