#context-menu {
  position: fixed;
  z-index: 10000;
  width: 230px;
  margin: 0;
  background: #1a1a1a;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  border-radius: var(--radius);
  overflow: hidden;
  transform-origin: top left;
  transition: opacity 0.25s ease-in-out;
  .item {
    padding: 8px 10px;
    margin: 0;
    cursor: pointer;
    font-size: var(--font-size);
    border-radius: var(--radius);
    color: white;
    display: flex;
    align-items: center;
    &:hover {
      background: #3a3a3a;
    }
  }
  hr {
    margin: 2px 0px;
    border-color: #222;
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
