@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Medium.woff2') format('woff2'),
    url('font/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('font/Inter-SemiBold.woff2') format('woff2'),
    url('font/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Regular.woff2') format('woff2'),
    url('font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Light.woff2') format('woff2'),
    url('font/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Black.woff2') format('woff2'),
    url('font/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// custom icones font
@font-face {
  font-family: 'app';
  src: url('font/app.eot?45120812');
  src: url('font/app.eot?45120812#iefix') format('embedded-opentype'),
    url('font/app.woff2?45120812') format('woff2'),
    url('font/app.woff?45120812') format('woff'),
    url('font/app.ttf?45120812') format('truetype'),
    url('font/app.svg?45120812#app') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'app';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic24-align-justify:before {
  content: '\e800';
} /* '' */
.icon-ic24-align-left:before {
  content: '\e801';
} /* '' */
.icon-ic24-align-right:before {
  content: '\e802';
} /* '' */
.icon-ic24-anchor:before {
  content: '\e803';
} /* '' */
.icon-ic24-apple:before {
  content: '\e804';
} /* '' */
.icon-ic24-apps:before {
  content: '\e805';
} /* '' */
.icon-ic24-archive:before {
  content: '\e806';
} /* '' */
.icon-ic24-arrow-circle-down:before {
  content: '\e807';
} /* '' */
.icon-ic24-arrow-circle-left:before {
  content: '\e808';
} /* '' */
.icon-ic24-arrow-circle-right:before {
  content: '\e809';
} /* '' */
.icon-ic24-arrow-circle-top:before {
  content: '\e80a';
} /* '' */
.icon-ic24-arrow-down:before {
  content: '\e80b';
} /* '' */
.icon-ic24-arrow-left:before {
  content: '\e80c';
} /* '' */
.icon-ic24-arrow-right:before {
  content: '\e80d';
} /* '' */
.icon-ic24-arrow-up:before {
  content: '\e80e';
} /* '' */
.icon-ic24-aspect-ratio:before {
  content: '\e80f';
} /* '' */
.icon-ic24-attachment:before {
  content: '\e810';
} /* '' */
.icon-ic24-audio-next:before {
  content: '\e811';
} /* '' */
.icon-ic24-audio-prev:before {
  content: '\e812';
} /* '' */
.icon-ic24-battery-charging:before {
  content: '\e813';
} /* '' */
.icon-ic24-battery-empty:before {
  content: '\e814';
} /* '' */
.icon-ic24-battery-full:before {
  content: '\e815';
} /* '' */
.icon-ic24-battery-low:before {
  content: '\e816';
} /* '' */
.icon-ic24-battery-medium:before {
  content: '\e817';
} /* '' */
.icon-ic24-block:before {
  content: '\e818';
} /* '' */
.icon-ic24-bluetooth:before {
  content: '\e819';
} /* '' */
.icon-ic24-bolt:before {
  content: '\e81a';
} /* '' */
.icon-ic24-book:before {
  content: '\e81b';
} /* '' */
.icon-ic24-bookmark:before {
  content: '\e81c';
} /* '' */
.icon-ic24-bookmark-add:before {
  content: '\e81d';
} /* '' */
.icon-ic24-bookmark-full:before {
  content: '\e81e';
} /* '' */
.icon-ic24-border-all:before {
  content: '\e81f';
} /* '' */
.icon-ic24-border-bottom:before {
  content: '\e820';
} /* '' */
.icon-ic24-border-horizontal:before {
  content: '\e821';
} /* '' */
.icon-ic24-border-inner:before {
  content: '\e822';
} /* '' */
.icon-ic24-border-left:before {
  content: '\e823';
} /* '' */
.icon-ic24-border-outline:before {
  content: '\e824';
} /* '' */
.icon-ic24-border-right:before {
  content: '\e825';
} /* '' */
.icon-ic24-border-style:before {
  content: '\e826';
} /* '' */
.icon-ic24-border-top:before {
  content: '\e827';
} /* '' */
.icon-ic24-border-vertical:before {
  content: '\e828';
} /* '' */
.icon-ic24-brightness-auto:before {
  content: '\e829';
} /* '' */
.icon-ic24-brightness-high:before {
  content: '\e82a';
} /* '' */
.icon-ic24-brightness-low:before {
  content: '\e82b';
} /* '' */
.icon-ic24-brightness-medium:before {
  content: '\e82c';
} /* '' */
.icon-ic24-bug:before {
  content: '\e82d';
} /* '' */
.icon-ic24-bulb:before {
  content: '\e82e';
} /* '' */
.icon-ic24-calendar:before {
  content: '\e82f';
} /* '' */
.icon-ic24-calendar-add:before {
  content: '\e830';
} /* '' */
.icon-ic24-calendar-days:before {
  content: '\e831';
} /* '' */
.icon-ic24-calendar-edit:before {
  content: '\e832';
} /* '' */
.icon-ic24-calendar-remove:before {
  content: '\e833';
} /* '' */
.icon-ic24-calendar-select-day:before {
  content: '\e834';
} /* '' */
.icon-ic24-camera:before {
  content: '\e835';
} /* '' */
.icon-ic24-car:before {
  content: '\e836';
} /* '' */
.icon-ic24-chart-bar:before {
  content: '\e837';
} /* '' */
.icon-ic24-chart-pie:before {
  content: '\e838';
} /* '' */
.icon-ic24-chat:before {
  content: '\e839';
} /* '' */
.icon-ic24-check:before {
  content: '\e83a';
} /* '' */
.icon-ic24-chevron-down:before {
  content: '\e83b';
} /* '' */
.icon-ic24-chevron-left:before {
  content: '\e83c';
} /* '' */
.icon-ic24-chevron-right:before {
  content: '\e83d';
} /* '' */
.icon-ic24-chevron-up:before {
  content: '\e83e';
} /* '' */
.icon-ic24-close:before {
  content: '\e83f';
} /* '' */
.icon-ic24-cloud:before {
  content: '\e840';
} /* '' */
.icon-ic24-column-2-vertical:before {
  content: '\e841';
} /* '' */
.icon-ic24-comment:before {
  content: '\e842';
} /* '' */
.icon-ic24-comment-add:before {
  content: '\e843';
} /* '' */
.icon-ic24-company:before {
  content: '\e844';
} /* '' */
.icon-ic24-copy:before {
  content: '\e845';
} /* '' */
.icon-ic24-credit-card:before {
  content: '\e846';
} /* '' */
.icon-ic24-crop:before {
  content: '\e847';
} /* '' */
.icon-ic24-dashboard:before {
  content: '\e848';
} /* '' */
.icon-ic24-delete:before {
  content: '\e849';
} /* '' */
.icon-ic24-desktop:before {
  content: '\e84a';
} /* '' */
.icon-ic24-difference:before {
  content: '\e84b';
} /* '' */
.icon-ic24-direction:before {
  content: '\e84c';
} /* '' */
.icon-ic24-dns:before {
  content: '\e84d';
} /* '' */
.icon-ic24-dollar:before {
  content: '\e84e';
} /* '' */
.icon-ic24-download:before {
  content: '\e84f';
} /* '' */
.icon-ic24-drag-indicator:before {
  content: '\e850';
} /* '' */
.icon-ic24-edit:before {
  content: '\e851';
} /* '' */
.icon-ic24-email:before {
  content: '\e852';
} /* '' */
.icon-ic24-email-alt:before {
  content: '\e853';
} /* '' */
.icon-ic24-equalizer:before {
  content: '\e854';
} /* '' */
.icon-ic24-euro:before {
  content: '\e855';
} /* '' */
.icon-ic24-explore:before {
  content: '\e856';
} /* '' */
.icon-ic24-extension:before {
  content: '\e857';
} /* '' */
.icon-ic24-facebook:before {
  content: '\e858';
} /* '' */
.icon-ic24-file:before {
  content: '\e859';
} /* '' */
.icon-ic24-file-add:before {
  content: '\e85a';
} /* '' */
.icon-ic24-file-edit:before {
  content: '\e85b';
} /* '' */
.icon-ic24-file-remove:before {
  content: '\e85c';
} /* '' */
.icon-ic24-filter:before {
  content: '\e85d';
} /* '' */
.icon-ic24-flag:before {
  content: '\e85e';
} /* '' */
.icon-ic24-flip-to-back:before {
  content: '\e85f';
} /* '' */
.icon-ic24-flip-to-front:before {
  content: '\e860';
} /* '' */
.icon-ic24-folder:before {
  content: '\e861';
} /* '' */
.icon-ic24-folder-add:before {
  content: '\e862';
} /* '' */
.icon-ic24-format-bold:before {
  content: '\e863';
} /* '' */
.icon-ic24-format-indent-decrease:before {
  content: '\e864';
} /* '' */
.icon-ic24-format-indent-increase:before {
  content: '\e865';
} /* '' */
.icon-ic24-format-italic:before {
  content: '\e866';
} /* '' */
.icon-ic24-format-line-spacing:before {
  content: '\e867';
} /* '' */
.icon-ic24-format-strikethrough:before {
  content: '\e868';
} /* '' */
.icon-ic24-format-underline:before {
  content: '\e869';
} /* '' */
.icon-ic24-franc:before {
  content: '\e86a';
} /* '' */
.icon-ic24-fullscreen:before {
  content: '\e86b';
} /* '' */
.icon-ic24-fullscreen-exit:before {
  content: '\e86c';
} /* '' */
.icon-ic24-functions:before {
  content: '\e86d';
} /* '' */
.icon-ic24-globe:before {
  content: '\e86e';
} /* '' */
.icon-ic24-google:before {
  content: '\e86f';
} /* '' */
.icon-ic24-gps:before {
  content: '\e870';
} /* '' */
.icon-ic24-gps-fixed:before {
  content: '\e871';
} /* '' */
.icon-ic24-gps-off:before {
  content: '\e872';
} /* '' */
.icon-ic24-health:before {
  content: '\e873';
} /* '' */
.icon-ic24-heart:before {
  content: '\e874';
} /* '' */
.icon-ic24-heart-full:before {
  content: '\e875';
} /* '' */
.icon-ic24-help:before {
  content: '\e876';
} /* '' */
.icon-ic24-home:before {
  content: '\e877';
} /* '' */
.icon-ic24-horizontal-align-center:before {
  content: '\e878';
} /* '' */
.icon-ic24-horizontal-align-left:before {
  content: '\e879';
} /* '' */
.icon-ic24-horizontal-align-right:before {
  content: '\e87a';
} /* '' */
.icon-ic24-hourglass-empty:before {
  content: '\e87b';
} /* '' */
.icon-ic24-hourglass-full:before {
  content: '\e87c';
} /* '' */
.icon-ic24-hourglass-progress:before {
  content: '\e87d';
} /* '' */
.icon-ic24-import-export:before {
  content: '\e87e';
} /* '' */
.icon-ic24-inbox:before {
  content: '\e87f';
} /* '' */
.icon-ic24-info:before {
  content: '\e880';
} /* '' */
.icon-ic24-insert-emoticon:before {
  content: '\e881';
} /* '' */
.icon-ic24-instagram:before {
  content: '\e882';
} /* '' */
.icon-ic24-intersect:before {
  content: '\e883';
} /* '' */
.icon-ic24-invert-color:before {
  content: '\e884';
} /* '' */
.icon-ic24-key:before {
  content: '\e885';
} /* '' */
.icon-ic24-keyboard:before {
  content: '\e886';
} /* '' */
.icon-ic24-label:before {
  content: '\e887';
} /* '' */
.icon-ic24-layer-align-bottom-center:before {
  content: '\e888';
} /* '' */
.icon-ic24-layer-align-horizontal:before {
  content: '\e889';
} /* '' */
.icon-ic24-layer-align-left-center:before {
  content: '\e88a';
} /* '' */
.icon-ic24-layer-align-right-center:before {
  content: '\e88b';
} /* '' */
.icon-ic24-layer-align-top-center:before {
  content: '\e88c';
} /* '' */
.icon-ic24-layer-align-vertical:before {
  content: '\e88d';
} /* '' */
.icon-ic24-layers:before {
  content: '\e88e';
} /* '' */
.icon-ic24-link:before {
  content: '\e88f';
} /* '' */
.icon-ic24-linkedin:before {
  content: '\e890';
} /* '' */
.icon-ic24-list-bullet:before {
  content: '\e891';
} /* '' */
.icon-ic24-lock:before {
  content: '\e892';
} /* '' */
.icon-ic24-map:before {
  content: '\e893';
} /* '' */
.icon-ic24-medium:before {
  content: '\e894';
} /* '' */
.icon-ic24-menu:before {
  content: '\e895';
} /* '' */
.icon-ic24-mic:before {
  content: '\e896';
} /* '' */
.icon-ic24-mic-off:before {
  content: '\e897';
} /* '' */
.icon-ic24-minus:before {
  content: '\e898';
} /* '' */
.icon-ic24-minus-circle:before {
  content: '\e899';
} /* '' */
.icon-ic24-mobile:before {
  content: '\e89a';
} /* '' */
.icon-ic24-more-hor:before {
  content: '\e89b';
} /* '' */
.icon-ic24-more-ver:before {
  content: '\e89c';
} /* '' */
.icon-ic24-mouse:before {
  content: '\e89d';
} /* '' */
.icon-ic24-navigation:before {
  content: '\e89e';
} /* '' */
.icon-ic24-near-me:before {
  content: '\e89f';
} /* '' */
.icon-ic24-notification:before {
  content: '\e8a0';
} /* '' */
.icon-ic24-opacity:before {
  content: '\e8a1';
} /* '' */
.icon-ic24-open-in-browser:before {
  content: '\e8a2';
} /* '' */
.icon-ic24-open-in-new:before {
  content: '\e8a3';
} /* '' */
.icon-ic24-parking:before {
  content: '\e8a4';
} /* '' */
.icon-ic24-pause:before {
  content: '\e8a5';
} /* '' */
.icon-ic24-pause-circle:before {
  content: '\e8a6';
} /* '' */
.icon-ic24-performance:before {
  content: '\e8a7';
} /* '' */
.icon-ic24-phone:before {
  content: '\e8a8';
} /* '' */
.icon-ic24-phone-callback:before {
  content: '\e8a9';
} /* '' */
.icon-ic24-phone-forwarded:before {
  content: '\e8aa';
} /* '' */
.icon-ic24-phone-in-talk:before {
  content: '\e8ab';
} /* '' */
.icon-ic24-phone-missed:before {
  content: '\e8ac';
} /* '' */
.icon-ic24-phone-paused:before {
  content: '\e8ad';
} /* '' */
.icon-ic24-photo:before {
  content: '\e8ae';
} /* '' */
.icon-ic24-photo-add:before {
  content: '\e8af';
} /* '' */
.icon-ic24-photos:before {
  content: '\e8b0';
} /* '' */
.icon-ic24-plane:before {
  content: '\e8b1';
} /* '' */
.icon-ic24-play:before {
  content: '\e8b2';
} /* '' */
.icon-ic24-play-circle:before {
  content: '\e8b3';
} /* '' */
.icon-ic24-plugin:before {
  content: '\e8b4';
} /* '' */
.icon-ic24-plus:before {
  content: '\e8b5';
} /* '' */
.icon-ic24-plus-circle:before {
  content: '\e8b6';
} /* '' */
.icon-ic24-pound:before {
  content: '\e8b7';
} /* '' */
.icon-ic24-protect:before {
  content: '\e8b8';
} /* '' */
.icon-ic24-publish:before {
  content: '\e8b9';
} /* '' */
.icon-ic24-quote:before {
  content: '\e8ba';
} /* '' */
.icon-ic24-redo:before {
  content: '\e8bb';
} /* '' */
.icon-ic24-refresh:before {
  content: '\e8bc';
} /* '' */
.icon-ic24-remove:before {
  content: '\e8bd';
} /* '' */
.icon-ic24-reply:before {
  content: '\e8be';
} /* '' */
.icon-ic24-report:before {
  content: '\e8bf';
} /* '' */
.icon-ic24-rotate:before {
  content: '\e8c0';
} /* '' */
.icon-ic24-ruble:before {
  content: '\e8c1';
} /* '' */
.icon-ic24-search:before {
  content: '\e8c2';
} /* '' */
.icon-ic24-select-all:before {
  content: '\e8c3';
} /* '' */
.icon-ic24-settings:before {
  content: '\e8c4';
} /* '' */
.icon-ic24-share:before {
  content: '\e8c5';
} /* '' */
.icon-ic24-shopping-cart:before {
  content: '\e8c6';
} /* '' */
.icon-ic24-shuffle:before {
  content: '\e8c7';
} /* '' */
.icon-ic24-slider:before {
  content: '\e8c8';
} /* '' */
.icon-ic24-sort:before {
  content: '\e8c9';
} /* '' */
.icon-ic24-star:before {
  content: '\e8ca';
} /* '' */
.icon-ic24-star-empty:before {
  content: '\e8cb';
} /* '' */
.icon-ic24-stopwatch:before {
  content: '\e8cc';
} /* '' */
.icon-ic24-substract:before {
  content: '\e8cd';
} /* '' */
.icon-ic24-success:before {
  content: '\e8ce';
} /* '' */
.icon-ic24-suitcase:before {
  content: '\e8cf';
} /* '' */
.icon-ic24-sync:before {
  content: '\e8d0';
} /* '' */
.icon-ic24-tablet:before {
  content: '\e8d1';
} /* '' */
.icon-ic24-tag:before {
  content: '\e8d2';
} /* '' */
.icon-ic24-text-fields:before {
  content: '\e8d3';
} /* '' */
.icon-ic24-thumb-down:before {
  content: '\e8d4';
} /* '' */
.icon-ic24-thumb-up:before {
  content: '\e8d5';
} /* '' */
.icon-ic24-ticket:before {
  content: '\e8d6';
} /* '' */
.icon-ic24-time:before {
  content: '\e8d7';
} /* '' */
.icon-ic24-transaction:before {
  content: '\e8d8';
} /* '' */
.icon-ic24-trending-down:before {
  content: '\e8d9';
} /* '' */
.icon-ic24-trending-up:before {
  content: '\e8da';
} /* '' */
.icon-ic24-trophy:before {
  content: '\e8db';
} /* '' */
.icon-ic24-turn-off:before {
  content: '\e8dc';
} /* '' */
.icon-ic24-tv:before {
  content: '\e8dd';
} /* '' */
.icon-ic24-twitter:before {
  content: '\e8de';
} /* '' */
.icon-ic24-undo:before {
  content: '\e8df';
} /* '' */
.icon-ic24-unfold-less:before {
  content: '\e8e0';
} /* '' */
.icon-ic24-unfold-more:before {
  content: '\e8e1';
} /* '' */
.icon-ic24-union:before {
  content: '\e8e2';
} /* '' */
.icon-ic24-unlink:before {
  content: '\e8e3';
} /* '' */
.icon-ic24-unlock:before {
  content: '\e8e4';
} /* '' */
.icon-ic24-upload:before {
  content: '\e8e5';
} /* '' */
.icon-ic24-user:before {
  content: '\e8e6';
} /* '' */
.icon-ic24-user-add:before {
  content: '\e8e7';
} /* '' */
.icon-ic24-user-delete:before {
  content: '\e8e8';
} /* '' */
.icon-ic24-users:before {
  content: '\e8e9';
} /* '' */
.icon-ic24-verified:before {
  content: '\e8ea';
} /* '' */
.icon-ic24-vertical-align-bottom:before {
  content: '\e8eb';
} /* '' */
.icon-ic24-vertical-align-center:before {
  content: '\e8ec';
} /* '' */
.icon-ic24-vertical-align-top:before {
  content: '\e8ed';
} /* '' */
.icon-ic24-video:before {
  content: '\e8ee';
} /* '' */
.icon-ic24-view-boxes:before {
  content: '\e8ef';
} /* '' */
.icon-ic24-view-day:before {
  content: '\e8f0';
} /* '' */
.icon-ic24-view-lp:before {
  content: '\e8f1';
} /* '' */
.icon-ic24-view-schedule:before {
  content: '\e8f2';
} /* '' */
.icon-ic24-view-slider:before {
  content: '\e8f3';
} /* '' */
.icon-ic24-view-table:before {
  content: '\e8f4';
} /* '' */
.icon-ic24-view-three-columns:before {
  content: '\e8f5';
} /* '' */
.icon-ic24-view-two-columns:before {
  content: '\e8f6';
} /* '' */
.icon-ic24-view-week:before {
  content: '\e8f7';
} /* '' */
.icon-ic24-visibility:before {
  content: '\e8f8';
} /* '' */
.icon-ic24-visibility-off:before {
  content: '\e8f9';
} /* '' */
.icon-ic24-voice:before {
  content: '\e8fa';
} /* '' */
.icon-ic24-volume-max:before {
  content: '\e8fb';
} /* '' */
.icon-ic24-volume-mid:before {
  content: '\e8fc';
} /* '' */
.icon-ic24-volume-min:before {
  content: '\e8fd';
} /* '' */
.icon-ic24-volume-off:before {
  content: '\e8fe';
} /* '' */
.icon-ic24-wallet:before {
  content: '\e8ff';
} /* '' */
.icon-ic24-warning:before {
  content: '\e900';
} /* '' */
.icon-ic24-wifi:before {
  content: '\e901';
} /* '' */
.icon-ic24-yen:before {
  content: '\e902';
} /* '' */
.icon-ic24-zoom-in:before {
  content: '\e903';
} /* '' */
.icon-ic24-zoom-out:before {
  content: '\e904';
} /* '' */
.icon-ic24-alarm:before {
  content: '\e905';
} /* '' */
.icon-ic24-alarm-add:before {
  content: '\e906';
} /* '' */
.icon-ic24-alert:before {
  content: '\e907';
} /* '' */
.icon-ic24-alert-full:before {
  content: '\e908';
} /* '' */
.icon-ic24-align-center:before {
  content: '\e909';
} /* '' */
