.notif-wrapper {
  z-index: 99999;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  .notif {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: #000;
    min-width: 420px;
    padding: 27px;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
    border-radius: 7px;
    background: var(--background);
    display: flex;
    align-items: center;
    @include kit-ui-1;
    &.card {
      cursor: pointer;
      > p,
      span,
      strong {
        pointer-events: none;
      }
      transform: translateY(100%);
      &.visible {
        transform: translate(0);
      }
    }
    &.error {
      background-color: $color-red-carnation;
      transition: background-color 0.25s ease;
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 20px;
      color: var(--background);
      &:hover {
        background-color: darken($color-red-carnation, 5%);
      }
      p {
        color: var(--background);
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    p {
      margin: 0;
      flex: 1;
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      margin-left: 1.5em;
      flex: 0 0 10%;
    }
    .btn {
      flex: 0;
      display: inline-block;
    }
  }
}
.card {
  color: #000;
  background: var(--background);
  border-radius: 7px;
  position: relative;
  @include kit-ui-1;
  &.progress {
    padding: 2rem 1.5rem;
  }
  &.card-download {
    .card-album {
      position: absolute;
      max-width: 200px;
      height: 150px;
      opacity: 0;
      visibility: hidden;
      @include kit-ui-1;
      background: var(--background);
      border-radius: 7px;
      overflow: hidden;
      left: 20px;
      list-style: none;
      top: -70%;
      transform: translateY(50%);
      transition: opacity 0.25s ease;
      .playlist-number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 30px;
        right: 10px;
        transform: translateY(50%);
        font-size: 25px;
        color: #fff;
      }
      .playlist-thumb {
        img {
          max-width: 100%;
        }
      }
      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-close {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--background);
    width: 36px;
    height: 36px;
    top: -20px;
    right: -20px;
    padding: 8px;
    cursor: pointer;
    transition: opacity 0.25s ease;
    i {
      font-size: 16px;
      color: var(--tcolor);
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &-head {
    padding-left: var(--padding-side);
    padding-top: var(--padding);
    padding-right: var(--padding-side);

    .card-slider-tabs {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      height: 100%;
      user-select: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .tab-slider-trigger {
      font-size: 12px;
      padding: 20px;
      margin: 0;
      font-weight: 600;
      letter-spacing: 0.05em;
      color: var(--tcolor);
      text-transform: uppercase;
      position: relative;
      z-index: 2;
      cursor: pointer;
      display: inline-block;
      transition: color 250ms ease-in-out;
      &.active {
        color: $color-blue-ribbon;
      }
    }
  }
  &-body {
    padding-left: var(--padding-side);
    padding-bottom: var(--padding);
    padding-right: var(--padding-side);
    article {
      margin-bottom: 2.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      color: var(--tcolor);
    }
    .history-filters {
      display: flex;
      margin: 0;
      li {
        margin: 0;
        display: flex;
        max-width: 25%;
        &:first-child {
          max-width: 75%;
        }
      }
    }
    &.b-tab {
      display: none;
    }
    .impt {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      border-radius: var(--radius);
      height: 190px;
      text-align: center;
      overflow-y: scroll;
      background: #f7f9fd;
      position: relative;
      .impt-inner {
        padding: 0 24px;
        h4 {
          font-size: var(--font-size);
        }
        p {
          font-size: var(--font-size);
        }
      }
      &:before {
        content: '';
        height: 20px;
        width: 100%;
        display: block;
        z-index: 2;
        top: 0;
        left: 0;
        position: sticky;
        background-image: linear-gradient(
          to top,
          transparent,
          rgba(#f7f9fd, 0.8)
        );
      }
      &:after {
        content: '';
        height: 20px;
        width: 100%;
        display: block;
        z-index: 2;
        bottom: 0;
        left: 0;
        position: sticky;
        background-image: linear-gradient(
          to bottom,
          transparent,
          rgba(#f7f9fd, 0.8)
        );
      }
      h4 {
        color: var(--tcolor);
        margin-top: 8px;
      }

      &::-webkit-scrollbar {
        width: 8px;
        z-index: 1;
      }

      &::-webkit-scrollbar-track {
        background: var(--disabled);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #8e9abd;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--blue);
      }
    }
    &.active {
      display: block;
    }
  }
}
