#titlebar {
  display: block;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 4;
  #drag-region {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    -webkit-app-region: drag;
  }
  #window-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--tcolor);
    opacity: 0.7;
    font-weight: 600;
    font-family: var(--ff);
    margin-left: 20px;
    overflow-x: hidden;
  }
  #window-controls {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 60px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
    .button {
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      user-select: none;
      cursor: pointer;
      i {
        font-size: 16px;
        transition: 0.2s ease;
        color: var(--tcolor);
      }
      &:hover {
        i {
          opacity: 0.6;
        }
      }
    }
    #min-button {
      grid-column: 1;
    }
    #close-button {
      grid-column: 2;
    }
  }
}
