/*
  Design & Code CSS
  Author : Asmir BELKIC
  LICENCE : MIT License
  DATE : 19/07/2020
*/

// UI Colors
$color-green-fern: #60b66e;
$color-purple-amethyst: #9b59b6;
$color-grey-gallery: #d4d4d4;
$color-blue-ribbon: #0066ff;
$color-red-carnation: #f35f63;
$color-white: #ffffff;

// UI Colors Map
$ui-colors: (
  default: $color-grey-gallery,
  blue: $color-blue-ribbon,
  green: $color-green-fern,
  purple: $color-purple-amethyst,
  white: $color-white,
  dark: #000,
);

// root variables
:root {
  --primary-ff: 'Inter', sans-serif;
  --tcolor: #222;
  --icon-size: 26px;
  --blue: #{$color-blue-ribbon};
  --font-size: 16px;
  --padding: 20px;
  --padding-side: 20px;
  --radius: 4px;
  --blue-hover: #d4d4d4;
  --blue-inner: #fff;
  --focus: 2px rgba(0, 0, 0, 0.9);
  --border: #ddd;
  --dark: #000;
  --border-hover: #222;
  --backgroundHome: #f6f8ff;
  --background: #fff;
  --disabled: #f4f4f4;
  --disabled-inner: #e2e2e2;
}

// Noramalize
@import 'normalize';
// All mixins
@import 'mixins';
// Import Font
@import 'font';
// Core all kind of stuff
@import 'core';
// Notification & cards
@import 'notif';
// Inputs & Champs
@import 'inputs';
// Progress bars
@import 'progress';
// Boutons etc
@import 'btns';

// A part
@import 'custom';

// Menu contextuel
@import 'contextMenu';
// App custom titlebar
@import 'titlebar';
// All aeasy acces class, LEGO BRICKS
@import 'compos';
